.spinner {
	margin: 10%;
	display: flex;
    align-items: center; //centraliza horizontalmente
	justify-content: center; //cetraliza verticalmente
}
.loading {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14pt;
	display: flex;
    align-items: center; //centraliza horizontalmente
	justify-content: center; //cetraliza verticalmente
}
