<div class="container" fxLayout="column" fxLayoutAlign="space-evenly none">
    <div class="card-header">Purchase List</div>
    <mat-dialog-content class="list-vender">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let vender"> {{vender.name}} </td>
            </ng-container>
            <!-- Amount Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let vender"> {{vender.amount}} </td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let vender"> {{vender.total | currency:"BRL"}} </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let vender">
                    <button mat-icon-button>
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="item-buttons">
            <button mat-button class="style-button" (click)="onConfirmation()">Confirm</button>
            <span class="spacer"></span>
            <button mat-button class="style-button" (click)="onNoClick()">Cancel</button>
        </div>
    </mat-dialog-content>
</div>