<div class="container" fxLayout="column" fxLayoutAlign="space-evenly none" >
    <div class="card-header">Add a new Category</div>
    <mat-dialog-content [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="item item-4">
      <mat-form-field appearance="outline">
        <mat-label>Category Name</mat-label>
        <input  matInput type="text" formControlName="categoryName" class="form-control"/>
        <mat-error *ngIf="categoryName.errors">Please, type a valid name</mat-error>
      </mat-form-field>
    </div>
  
    <div class="item-buttons">
      <button mat-button class="style-button" [disabled]="!categoryForm.valid" [mat-dialog-close]="1"
        (click)="onSubmit()">Save</button>
        <span class="spacer"></span>
      <button mat-button class="style-button" (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
  </mat-dialog-content>
  </div>