<div>
    <h3>Day Cashier</h3>
  </div>
  <form [formGroup]="walletForm">
    <div *ngIf="loader" id="loader">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  
    <div id="form">
      <mat-form-field class="half-width mr5">
        <mat-label>Open At</mat-label>
        <input matInput placeholder="Open At" type="text" formControlName="openAt">
      </mat-form-field>
  
      <mat-form-field class="half-width ml5">
        <mat-label>Type a value to close</mat-label>
        <input matInput placeholder="finish value" type="number" formControlName="typedValue">
      </mat-form-field>
  
      <mat-form-field class="half-width mr5">
        <input matInput [matDatepicker]="picker" placeholder="Close At" formControlName="closeAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="half-width ml5">
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" type="text" formControlName="finishValue">
        <mat-error *ngIf="finishValue.errors">Please, type a valid value</mat-error>
      </mat-form-field>
  
  
      <div class="flex mt10 dialog-actions item-buttons">
        <span class="spacer"></span>
        <button class="mr5" mat-button type="button" (click)="dialogRef.close()">CANCEL</button>
        <button class="ml5" mat-raised-button type="button" (click)="closeWallet()" color="primary">CLOSE</button>
      </div>
    </div>
  </form>