.container {
    min-width: 50vw;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
  mat-form-field {
      width: 100%;
  }

  .approval{
      color: #009688;
  }
  .not-approval{
    color: #ff0707;
  }
  
  .item-buttons{
      display: table-row;
      float: right;
      position: relative;
  }
  .style-button{
      float: right;
      width: 5rem;
  }
  .item{
    width: 30%;
    mat-form-field {
        display: block;
        display: inline-block;
    }
    
  }
  
  .example-spacer {
      margin: 1rem;
    }
  .card-subtitle{
      color: #ffffff;
  }
  
  .card-header{
      padding: 5%;
      margin-bottom: 5%;
      text-align: center;
      max-width: 100%;
      border-radius: 4px 4px 4px 4px;
      background-color: darken(#01579B, 3);
      color: #ffffff;
  }
  .spacer{
      margin: 0.5rem;
  }
  .corner-position {
      position: fixed;
      bottom: 5rem;
      right: 1.6rem;
    }
    .price-item{
        min-width: 20%;
    }
  
    @media only screen and (max-width: 600px) {
      .item-buttons{
          display: table-row;
          float: left;
      }
      .style-button{
          float: left;
          width: 5rem;
      }
      .card-header{
          padding: 3%;
          max-width: 100%;
          margin-bottom: 5%;
          border-radius: 4px 4px 4px 4px;
          background-color: darken(#01579B, 3);
          color: #ffffff;
      }
      
    
  }
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

#loader {
    margin: 0 auto;
    padding: 30px;
    display: table;
}

.half-width {
    width: calc(50% - 10px);
}

.mb0 {
    margin-bottom: 0;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

#form {
    max-width: 400px;
}

#form.extended {
    max-width: 500px;
}

#form.ultra-extended {
    max-width: 600px;
}