<mat-form-field [formGroup]="reportMonthForm">
    <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="dateMonth">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker touchUi #dp
                    startView="year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker"
                    disabled="false">
    </mat-datepicker>
  </mat-form-field>
  