<div class="container">
  <span class="example-spacer "></span>
  <mat-toolbar color="primary">
    <span>List of {{title}} </span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Refresh button" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <div class="mat-elevation-z8 table-style">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="warn">
        <input matInput #filter (keyup)="applyFilter($event)" placeholder="Filter {{title}} ">
      </mat-form-field>
    </div>
    <mat-spinner color="accent" *ngIf="loading"></mat-spinner>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Generic column definition -->
      <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
        
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ column.cell(row)}}

          <ng-container *ngIf="column.header === 'Actions'">
            <button mat-icon-button matTooltip="Insert photo" (click)="addImages(row)">
              <mat-icon color="primary" aria-label="Insert photo">insert_photo</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Edit button" (click)="startEdit(row)">
              <mat-icon color="accent" aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Delete button" (click)="deleteItem(row)">
              <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
     
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>