<div class="container">
    <span class="example-spacer "></span>  

  <div class="mat-elevation-z8 table-style">
    <mat-spinner color="accent" *ngIf="loading"></mat-spinner>
    <table cdk-table [dataSource]="dataSource" *ngIf="!loading">
      <!-- Position Column -->
      <ng-container *ngFor="let col of displayedColumns" cdkColumnDef={{col}}>
        <th cdk-header-cell *cdkHeaderCellDef  matLine> {{col}} </th>
      <td cdk-cell *cdkCellDef="let element"> {{element[col]}} </td>
      </ng-container>
    
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>    

</div>
