<div class="container" fxLayout="column" fxLayoutAlign="space-evenly none" >
  <div class="card-header">Edit User</div>
  <mat-dialog-content [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="item item-4">
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input  matInput laceholder="User Name" type="text" formControlName="userName" class="form-control"/>
    </mat-form-field>
  </div>
  <div class="item item-4">
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput placeholder="User Role" type="text" formControlName="userRole">
      <mat-error *ngIf="userRole.errors">Please, type a valid description</mat-error>
    </mat-form-field>
  </div>
  <div class="item-buttons">
    <button mat-button class="style-button" [disabled]="!userForm.valid" [mat-dialog-close]="1"
      (click)="onSubmit()">Save</button>
      <span class="spacer"></span>
    <button mat-button class="style-button" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</mat-dialog-content>
</div>