<div class="container" fxLayout="column" fxLayoutAlign="space-evenly none" >
  <div class="card-header">Are you sure to delete a Product ?</div>
  <div class="item item-4">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput #input class="form-control" placeholder="Product Name" [(ngModel)]="data.title" name="title">
    </mat-form-field>
  </div>
  <div class="item item-4">
    <mat-form-field appearance="outline">
      <mat-label>Product Description</mat-label>
      <input matInput #input class="form-control" placeholder="Product Description" [(ngModel)]="data.url" name="url">
    </mat-form-field>
  </div>
  <div class="item item-4">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput #input class="form-control" placeholder="Product Description" [(ngModel)]="data.state" name="state" >
    </mat-form-field>
  </div>
  <div class="item-buttons">
    <button mat-button class="style-button" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
      (click)="confirmAdd()">Save</button>
      <span class="spacer"></span>
    <button mat-button class="style-button" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>