<div fxLayout="column" fxLayoutAlign="center">
    <div id="form-error" *ngIf="!walletOpen" fxLayoutAlign="center center">
      <div id="form-error-content">
        <p>You should open a wallet before sell anything!</p>
        <button mat-raised-button color="primary" class="action-button" (click)="openCashier()">OPEN CASHIER</button>
      </div>
  </div>
  <span class="spacer"></span>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-3" fxFlex>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Cashier of day</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-inside" [formGroup]="cashierForm">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Date Chooser"
                         formControlName="dateNow" (dateInput)="addEvent($event)" 
                         (dateChange)="addEvent($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker  touchUi  #picker1 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-button class="style-button" (click)="onGenerate()">Generate</button>
                        <span class="spacer"></span>
                        <!-- <button mat-button class="style-button">Cancel</button> -->
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>

        <div class="item item-3" fxFlex>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Report of solds of the day</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-inside" [formGroup]="reportDayForm">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Select the day"
                            formControlName="dateDay">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2 disabled="false"></mat-datepicker>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-button class="style-button">Generate</button>
                        <span class="spacer"></span>
                        <!-- <button mat-button class="style-button">Cancel</button> -->
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
        <div class="item item-3" fxFlex>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Report of solds of the month</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-inside">
                      <datepicker></datepicker>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-button class="style-button">Generate</button>
                        <span class="spacer"></span>
                        <!-- <button mat-button class="style-button">Cancel</button> -->
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <span class="spacer"></span>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>All Purchase of Chopp at the day</mat-card-title>
                    <mat-card-subtitle>

                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <div>
                           <!--  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                [legend]="lineChartLegend" [chartType]="lineChartType"></canvas> -->
                        </div>
                    </div>
                </mat-card-content>
                <span class="spacer"></span>
            </mat-card>
        </div>
    </div>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-3" fxFlex>
                <mat-toolbar color="primary">
                        <span>List Solds of Products</span>
                        <span class="spacer"></span>
                        <button mat-icon-button matTooltip="Refresh button" (click)="refresh()">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </mat-toolbar>
                      
                      <div class="container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.amount}}</mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.total | currency:"BRL"}}</mat-cell>
                          </ng-container>
                      
                          <span class="example-spacer "></span>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                          No results
                        </div>
                      
                        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                      </div>
     
            <span class="spacer"></span>
        </div>
    </div>
    <span class="spacer"></span>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-3" fxFlex>
                <mat-toolbar color="primary">
                        <span>Method of payment</span>
                        <span class="spacer"></span>
                        <button mat-icon-button matTooltip="Refresh button" (click)="refresh()">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </mat-toolbar>
                      
                      <div class="container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataMethod" matSort class="mat-cell">
                          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                      
                          <!-- ID Column -->
                          <ng-container matColumnDef="method">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Method</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.paymentMethod}}</mat-cell>
                          </ng-container>                  
      
                           <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.billValue | currency:"BRL"}}</mat-cell>
                          </ng-container>
                      
                          <span class="example-spacer "></span>
                          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                        </mat-table>
                        <div class="no-results" [style.display]="dataMethod.renderedData.length == 0 ? '' : 'none'">
                          No results
                        </div>
                      
                        <mat-paginator #paginator2 [length]="dataMethod.filtertingData.length" [pageIndex]="0" [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                      </div>
     
            <span class="spacer"></span>
        </div>
    </div>
    <span class="spacer"></span>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-3" fxFlex>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>The most bought product</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                   <!--  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas> -->
                </mat-card-content>
                <span class="spacer"></span>
            </mat-card>
        </div>
    </div>
    <span class="spacer"></span>  
</div>