<div fxLayout="column" fxLayoutAlign="center">
  <div id="form-error" *ngIf="!walletOpen" fxLayoutAlign="center center">
    <div id="form-error-content">
      <p>You should open a wallet before sell something!</p>
      <button mat-raised-button color="primary" class="action-button" (click)="openCashier()">
        OPEN CASHIER
      </button>
    </div>
  </div>
  <span class="spacer"></span>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Cashier of day</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-inside" [formGroup]="cashierForm">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Date Chooser" formControlName="dateNow"
              (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button class="style-button" (click)="onGenerate()">
              Generate
            </button>
            <span class="spacer"></span>
            <!-- <button mat-button class="style-button">Cancel</button> -->
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item item-3" fxFlex>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Report of solds of the day</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-inside" [formGroup]="reportDayForm">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Select the day" formControlName="dateDay" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button class="style-button">Generate</button>
            <span class="spacer"></span>
            <!-- <button mat-button class="style-button">Cancel</button> -->
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="item item-3" fxFlex>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Report of solds of the month</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-inside">
          <datepicker></datepicker>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button class="style-button">Generate</button>
            <span class="spacer"></span>
            <!-- <button mat-button class="style-button">Cancel</button> -->
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <span class="spacer"></span>
  