@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-store-app-theme: (
	50 : #ffffff,
    100 : #b3cde1,
    200 : #80abcd,
    300 : #4d89b9,
    400 : #01579b,
    500 : #01579b,
    600 : #014f93,
    700 : #014689,
    800 : #013c7f,
    900 : #002f6c,
    A100 : #9cbbff,
    A200 : #6998ff,
    A400 : #3674ff,
    A700 : #1d63ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,

	)
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$store-app-primary: mat-palette($md-store-app-theme,400, 600);
$store-app-accent:  mat-palette($md-store-app-theme,  800, 500, 900);

// The warn palette is optional (defaults to red).
$store-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$store-app-theme:    mat-light-theme($store-app-primary, $store-app-accent, $store-app-warn);
$store-app-dark-theme:   mat-dark-theme($store-app-primary, $store-app-accent, $store-app-warn);

$white: mat-palette($md-store-app-theme, 50, 50, 50);
$white-theme: mat-light-theme($white, $white, $white);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($md-store-app-theme);

.dark {
    @include angular-material-theme($store-app-dark-theme);
}

.white {
    @include angular-material-theme($white-theme);
}

.mat-toolbar.mat-primary {
    background-color: mat-color($store-app-primary, 500);
}

a, a:visited, a:focus, a:active {
    color: mat-color($store-app-accent);
}

a:hover {
    color: mat-color($store-app-accent, 900);
}