<mat-sidenav-container class="app-root" fullscreen>
  <mat-sidenav class="dark" #start>
      <img id="nav-logo" src="../assets/favicon.ico" alt="Angular Logo">

      <mat-nav-list>
          <a *ngFor="let navItem of navItems"
                  mat-list-item
                  (click)="start.close()"
                  routerLinkActive="active"
                  #routerLinkActiveInstance="routerLinkActive"
                  [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
                  [routerLinkActiveOptions]="{exact: navItem.route == '/'}"
                  [routerLink]="[navItem.route]">
              {{navItem.name}}<mat-icon *ngIf="navItem.icon">{{navItem.icon}}</mat-icon>
          </a>
      </mat-nav-list>
  </mat-sidenav>

  <div id="mtor">
      <mat-toolbar class="dark" color="primary">
          <mat-toolbar-row>
              <button mat-icon-button (click)="start.open()">
                  <mat-icon class="mat-24">menu</mat-icon>
              </button>

              <span id="logo">Store App</span>
              <span class="spacer"></span>

          </mat-toolbar-row>
      </mat-toolbar>

      <div #root="dir" dir="ltr" class="app-content">
          <router-outlet id="main"></router-outlet>
      </div>
  </div>
</mat-sidenav-container>