<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="15" fxFlex.xs="55" class="photos-section">
        <div class="row row-image" *ngFor="let image of images">
            <img class="demo cursor responsive " (click)="currentSlide(image.number)" src={{image.src}}  alt="The Woods">
        </div>

    </div>
    <div fxFlex="55" style="margin-top: 10px;">
        <div class="show" *ngFor="let image of images">
            <img src={{image.src}} class="demo cursor responsive" (click)="currentSlide(image.number)">
            <a class="prev" (click)="plusSlides(image.number)">❮</a>
            <a class="next" (click)="plusSlides(image.number)">❯</a>
        </div>
    </div>
    <div fxFlex="30" fxFlex.xs="15">
        <h3>Description</h3>
    </div>
</div>