.container{
	margin: 15px;
}
table {
	width: 100%;
	padding: 0%;
  }

.spacer{
	margin: 0.5rem;
}
.no-results{
	text-align: center;
}
.form{
	padding: 3%;
}
.app-fab--absolute {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

  }

  @media(min-width: 1024px) {
	 .app-fab--absolute {
	  bottom: 1.5rem;
	  right: 1.5rem;
	}
  }


.card {
	width: 100%;
}
.mat-form-field{
	width: 100%;
}
.card-actions{
	margin: 5px;
}

.example-spacer {
	margin: 1rem;
  }
.card-subtitle{
	color: #ffffff;
}

.card-header{
	padding: 3%;
	margin-bottom: 5%;
	border-radius: 4px 4px 4px 4px;
	background-color: darken(#01579B, 3);
	color: #ffffff;
}
.corner-position {
	position: fixed;
	bottom: 1rem;
	right: 1.6rem;
  }
.price-item{
	  min-width: 20%;
  }

.mat-toolbar{
	border-radius: 4px 4px 0 0;
}

.example-action-buttons {
	padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
	flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
  }
 .add-category{
	 margin-left: 15px;
 }